/* --- GENERIC STYLING --- */
html {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: Georgia, serif;
}

a {
    text-decoration: none;
}

a:link {
    color: #4a6aa8;
}

a:visited {
    color: #8f2241;
}

a:hover {
    text-decoration: underline;
}

a:active {
    background-color: #cea4b0;
}

body {
    background-color: #f3f3f3;
}

.page-container {
    padding: 30px 30px;
    max-width: 700px;
    background-color: white;
}

/* --- HEADER SECTION STYLES --- */
.header {
    /* padding: 1em 1em; */
}

.header-title {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.header-description {
    font-size: 0.9rem;
    margin: 1em 0;
    /* border: 1px solid black; */
}

/* --- IMAGE/CAPTION STYLES --- */
.img-container {
    background-color: #ca7c92;
    padding: 3px;
    /* max-width: 550px; */
    
}

.main-img {
    width: 100%;
}

.img-caption {
    font-size: .8rem;
    font-style: italic;
    text-align: center;
    padding: 8px 8px;
}

/* --- MAIN CONTENT AREA STYLES --- */
.tribute-info {
    margin: 1.6em 0;
    /* padding: 1em 1em; */
}

h2 {
    font-size: 1rem;
    margin-bottom: 1em;
}

.tribute-text {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1.5em;
}

.tribute-text:last-of-type {
    margin-bottom: 0;
}

/* --- FOOTER STYLES --- */
footer {
    background-color: #ca7c92;
    font-size: 0.8rem;
    line-height: 1.5;
    padding: 20px 1em;
    text-align: center;
}


/* STYLES FOR ALL SCREENS LARGER THAN SMARTPHONES */
@media screen and (min-width: 576px) {
    .page-container {
        width: 90%;
        margin: 30px auto;
        padding: 30px 30px;
        border: 1px solid black;
    }
    
    /* --- HEADER SECTION STYLES ---*/
    .header {
        padding: 0;
    }
    
    .header-title {
        font-size: 2rem;
        letter-spacing: 2px;
    }
    
    .header-description {
        font-size: 0.9rem;
        margin: 1.5em 0;
    }

    /* --- MAIN CONTENT AREA STYLES --- */
    .tribute-info {
        padding: 0;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    .tribute-text {
        line-height: 1.2;
    }
    
}